.navbar{
    text-decoration: none;
    display: flex;
    align-items: left;
    flex-direction: row;
    list-style-type: none;
}
.navbar li{
    padding: 1rem;
}
.article-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.article-item{
    border: 1px solid cyan;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.article-item-header{
    display: flex;
    justify-content: space-between;
}
.pagination-buttons{
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.article-field{
    margin: 1rem;
    padding: 1rem;
}
