<form name="articleForm" class="article-form">
    <h1>Create Article</h1>
    <h2>Please enter the details</h2>
    <div class="article-field">
        <label for="title">Title : </label>
        <input type="text" name="title" ng-model="title" placeholder="Enter title" ng-required='true' /><br>
        <p ng-show="articleForm.title.$touched && articleForm.title.$invalid">Title is required!</p>
    </div>
    <div class="article-field">
        <label for="description">Description : </label>
        <input type="text" name="description" ng-model="description" placeholder="Enter description" ng-required='true' /><br>
        <p ng-show="articleForm.description.$touched && articleForm.description.$invalid">Description is required!</p>
    </div>
    <div class="article-field">
        <label for="body">Body : </label>
        <textarea name="body" ng-model="body" placeholder="Enter body" ng-required='true'></textarea><br>
        <p ng-show="articleForm.body.$touched && articleForm.body.$invalid">Body is required!</p>         
    </div>
    <div class="article-field">
        <label for="tags">Tags : (Separated by comma ',' with no spaces)</label>
        <input type="text" name="tags" ng-model="tags" placeholder="Enter tags" /><br>           
    </div>
    <button ng-disabled="articleForm.$invalid" ng-click="create()">Create Article</button>
</form>
